<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>后台管理</title>

    <!-- Custom fonts for this template-->
    <link href="/static/dist/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link href="/static/dist/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="/static/dist/js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/static/dist/css/sweetalert2.min.css">
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-6">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">后台管理</h1>
                                    <h1 class="h4 text-gray-900 mb-4" id="host_ip"></h1>
                                </div>

                                <div class="row">

                                    <div class="col-lg-12 mb-4">
                                        <a href="site">
                                            <div class="card bg-primary text-white shadow">
                                                <div class="card-body">
                                                    站点管理
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <hr>

                                    <div class="col-lg-12 mb-4">
                                        <a href="log">
                                            <div class="card bg-success text-white shadow">
                                                <div class="card-body">
                                                    日志查看
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <hr>
<!--                                    <div class="col-lg-12 mb-4">-->
<!--                                        <a href="/host">-->
<!--                                            <div class="card bg-info text-white shadow">-->
<!--                                                <div class="card-body">-->
<!--                                                    主机管理-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </div>-->
                                    <hr>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/dist/vendor/jquery/jquery.min.js"></script>
<script src="/static/dist/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/dist/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/dist/js/sb-admin-2.min.js"></script>
</body>

</html>